.blogPostList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.empty {
  text-align: center;
  font-style: italic;
  color: #666;
  margin-top: 20px;
}
