.blogPostItem {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  text-decoration: none;
  color: #333;
}

.title:hover {
  color: #007BFF;
}

.summary {
  color: #666;
  font-size: 16px;
}

.date {
  color: #999;
  font-size: 14px;
}
